/* Her her vi et sted at lave css*/
 header {
    background-color: #9743ad;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}